@media only screen and (min-width: 481px) and (max-width: 1000px) {
  h1,
  h2,
  h3,
  h4,
  p,
  small {
    text-align: center !important;
    width: 100% !important;
  }

  h1 {
    font-size: clamp(2.5rem, 7vw, 7rem);
  }
  h2 {
    font-size: clamp(2rem, 3vw, 3rem);
  }
  h4 {
    font-size: clamp(1.3rem, 1.5vw, 1.8rem);
  }
  p,
  button {
    font-size: clamp(1rem, 1.1vw, 1.3rem);
  }
  small {
    font-size: clamp(0.6rem, 0.75rem, 1rem);
    line-height: 1.5;
  }

  .exit{
    width: 5%!important;
  }

  button {
    width: 80% !important;
  }
  .popUp,
  .popCont {
    width: 80% !important;
  }
  .startBg{
    overflow: hidden;
    .top,.bot{
      width: 50%!important;
    }
    div{
      img{
        width: 80%!important;
      }
    }
  }
  .pop{
    width: 75%!important;
    div{
      width: 90%!important;
    }
    img{
      width: 50%!important;
    }
  }

  svg{
    width: 90%!important;
  }

  section{
    width: 100%!important;
    .bg-grad{
      width: 95%!important;
      img{
        width: 50%!important;
      }
    }
  }

  .com{
    width: 15%!important;
  }

  .gift{
    width: 30%!important;
  }

  .comments{
    width: 100%!important;
    height: 100%!important;
    justify-content: initial!important;
    .headCom{
      margin-top: 2%;
    }
    overflow-y: scroll;
    .headCom,.comCont{
      width: 90%!important;
    }
    .comCont{
      flex-direction: column;
      .comment{
        width: 100%!important;
        height: auto!important;
        p,small{
          text-align: left!important;
        }
        img{
          width: 25%;
        }
      }
    }
  }

  img.grt{
    width: 70%!important;
  }

}

@media (max-width: 481px) {

  #spinBtn{
    width: 30%;
  }

  .gift{
    width: 15%!important;
    margin-bottom: 5%!important;
  }

  div.w-80:nth-child(2) {
    padding: 0!important;
  }

  .comments{
    justify-content: initial!important;
    .headCom{
      margin-top: 2%;
    }
    overflow-y: scroll;
    .headCom,.comCont{
      width: 90%!important;
    }
    .comCont{
      flex-direction: column;
      .comment{
        width: 100%!important;
        height: auto!important;
        p,small{
          text-align: left!important;
        }
        img{
          width: 25%;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  p,
  small {
    text-align: center !important;
    width: 100% !important;
  }

  .com{
    width: 15%!important;
  }

  .exit{
    width: 5%!important;
  }

  img.grt{
    width: 70%!important;
  }

  .startBg{
    overflow: hidden;
    img{
      width: 80%!important;
    }
  }
  .pop{
    width: 95%!important;
    img{
      width: 50%!important;
    }
  }

  svg{
    width: 90%!important;
  }

  section{
    width: 100%!important;
    .bg-grad{
      width: 95%!important;
      img{
        width: 100%!important;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 1000px) and (orientation: landscape) {
}

/* Portrait IPAD */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 1400px) {
}
