$lato: "Lato", sans-serif;
$rakk: 'Rakkas', cursive;
$mas:'Rakkas', cursive;
$wht: rgba(255, 255, 255, 1);
$grad: linear-gradient(134.41deg, rgba(55, 55, 55, 0.25) -3.32%, rgba(255, 255, 255, 0.25) 106.41%);
$red: #DD2E2E;
$ylw: #FFC93D;
$grn:#FFE5A3;
$blue:#2C4E9E;
$drk:#346B2A;