$lato: "Lato", sans-serif;
$mont: "Montserrat", sans-serif;
$mas:'Mountains of Christmas', cursive;
$wht: rgba(255, 255, 255, 1);
$grad: radial-gradient(50% 50% at 50% 50%, #F83A11 0%, #D03716 100%);
$blu: #0471B7;
$ylw: #FFC93D;
$grn:#FFC327;
$bg:rgba(1, 93, 152, 0.45);
