@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@700&family=Mountains+of+Christmas:wght@700&display=swap');
@import "_var";
@import "_def";
@import "_struct";
@import "_query";

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.mont {
  font-family: $mont;
}
.lato {
  font-family: $lato;
}

.mas{
  font-family: $mas;
}

h1 {
  font-size: clamp(2.5rem, 7vw, 7rem);
}
h2 {
  font-size: clamp(2rem, 3vw, 3rem);
}
h4 {
  font-size: clamp(1.3rem, 1.5vw, 1.8rem);
}
p,
button {
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}
small {
  font-size: clamp(0.6rem, 0.75rem, 1rem);
  line-height: 1.5;
}

.pulse{
  transition: .5s ease-in-out;
  transform-origin: center;
  animation: pulse 1s infinite;
}

.com{
  transition: .5s ease-in-out;
  &:hover{
    transform:scale(1.1)
  }
}

.exit{
  top: 15%;
  right: 2%;
  fill: white!important;
  transition: .5s ease-in-out;
  &:hover{
    transform:scale(1.1)
  }
}

.comCont{
  p,small{
    text-align: left!important;
  }
}

.top{
  top: 3%;
  left: -5%;
}.bot{
  bottom: 3%;
  right: -5%;
}

#spnBtn {
  transform-origin: center;
  &:hover {
    cursor: pointer;
  }
}

#spinner {
  transform-origin: center;
}

.spinAround {
  -webkit-animation: spin 6.6s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  90% {
    -webkit-transform: rotate(3110deg);
    -ms-transform: rotate(3110deg);
    transform: rotate(3110deg);
  }
  95% {
    -webkit-transform: rotate(3108deg);
    -ms-transform: rotate(3108deg);
    transform: rotate(3108deg);
  }
  100% {
    -webkit-transform: rotate(3109deg);
    -ms-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
}
.spinAround2 {
  -webkit-animation: spin2 6.6s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(3109deg);
    -ms-transform: rotate(3109deg);
    transform: rotate(3109deg);
  }
  90% {
    -webkit-transform: rotate(6212deg);
    -ms-transform: rotate(6212deg);
    transform: rotate(6212deg);
  }
  95% {
    -webkit-transform: rotate(6209deg);
    -ms-transform: rotate(6209deg);
    transform: rotate(6209deg);
  }
  100% {
    -webkit-transform: rotate(6210deg);
    -ms-transform: rotate(6210deg);
    transform: rotate(6210deg);
  }
}
.spinAround3 {
  -webkit-animation: spin3 6.6s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(3070deg);
    -ms-transform: rotate(3070deg);
    transform: rotate(3070deg);
  }
  95% {
    -webkit-transform: rotate(3059deg);
    -ms-transform: rotate(3059deg);
    transform: rotate(3059deg);
  }
  100% {
    -webkit-transform: rotate(3060deg);
    -ms-transform: rotate(3060deg);
    transform: rotate(3060deg);
  }
}
.spinAround4 {
  -webkit-animation: spin4 6.6s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(3250deg);
    -ms-transform: rotate(3250deg);
    transform: rotate(3250deg);
  }
  95% {
    -webkit-transform: rotate(3239deg);
    -ms-transform: rotate(3239deg);
    transform: rotate(3239deg);
  }
  100% {
    -webkit-transform: rotate(3240deg);
    -ms-transform: rotate(3240deg);
    transform: rotate(3240deg);
  }
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gift{
  margin-bottom: 2%;
  // -webkit-animation: spin3 1.5s infinite;
  // animation-timing-function: ease;
  // animation-iteration-count: 1;
  // animation-direction: normal;
  // -webkit-animation-fill-mode: forwards;
  // -moz-animation-fill-mode: forwards;
  // -o-animation-fill-mode: forwards;
  // -ms-animation-fill-mode: forwards;
  // animation-fill-mode: forwards;
}
