$lato: "Lato", sans-serif;
$mont: 'Advent Pro', sans-serif;
$mas:'Mountains of Christmas', cursive;
$wht: rgba(255, 255, 255, 1);
$grad: linear-gradient(243.41deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
$red: #DD2E2E;
$ylw: #FFC93D;
$grn:#FFC327;
