$lato: "Lato", sans-serif;
$mont: "Montserrat", sans-serif;
$mas:'Mountains of Christmas', cursive;
$wht: rgba(255, 255, 255, 1);
$grad: radial-gradient(50% 50% at 50% 50%, #5B935B 0%, #437943 100%), linear-gradient(255.09deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0.32) 100%);
$red: #FF423D;
$ylw: #FFC93D;
$grn:#5A915A;
